.chatbot-body {
    color: #333;
    background-color: #efefef;
    font: 13px helvetica,arial,freesans,clean,sans-serif;
}
#demo {
    /*background-color: #ffffff;*/
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    background-color: #F8F8F8;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #999;
    line-height: 1.4em;
    font: 13px helvetica,arial,freesans,clean,sans-serif;
    color: black;
}
#demo input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    width: 400px;
}
.chatbot-button {
    display: inline-block;
    background-color: darkcyan;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    float: right;
}
#chatBotCommandDescription {
    display: none;
    margin-bottom: 20px;
}
.chatbot-input:focus {
    outline: none;
}
.chatBotChatEntry {
    display: none;
}