.filter-card {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1000px;
    height: 300px;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.filter-button {
    display: block;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.buttons-section {
    width: 50%;
}

.white-space-section {
    width: 100%;
    margin-left: 20px;
}

.filter-options {
    list-style-type: disc;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filter-options li {
    margin-right: 10px;
    margin-bottom: 15px;
    flex: 0 0 calc(25% - 10px);
}

.filter-options .filter-item {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    left: 10px;
    color: #303131;
}

.filter-options .filter-item:hover {
    background-color: #007bff;
    color: #fff;
}

.filters-button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 22px;
    margin: 0 10% 0 4%;
}

.filters-button:hover{
    border: 1px solid black;
}

.apply-filters-button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    height: 40px;
    width: auto;
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
}