#app{
    font-family: 'avenir light';
    color: #303131;
}
.navbar{
    font-size: 22px;
    margin: 0 10% 0 4%;
}

.chatbot{
    margin: 0 0 0 4%;
}

.chatbot-container{
    font-family: 'avenir light';
    font-size: 20px;
    color: #303131;
}
